<div class="row justify-content-sm-center">
  <div class="col col-sm-auto text-center">        
    <h1>Adopt, Don't Shop!</h1>
  </div>
</div>
<div style="height: 40px"></div>
<div class="row justify-content-sm-center">
  <div class="col col-sm-10 bg-success">
    <a href="https://adoptdontshop.herokuapp.com/">
      <img class="img-fluid" style="margin-top: 40px; margin-bottom: 40px" src="adopt.png" alt="A beginner project that displays random adoptable pets from the PetFinder API">
    </a>
  </div>
</div>
<div style="height: 40px"></div>
<div class="row justify-content-sm-center text-center" style="margin-bottom: 20px">
  <h4>This project was inspired by countless hours spent browsing adoption websites.</h4>
</div>
<div class="row justify-content-sm-center">
  <ul>
    <li>Uses the PetFinder API to get and display a random adoptable pet.</li>
    <li>Users may filter their search by pet type.</li>
    <li>Users can cycle through the adoptable pets displayed during the current session.</li>
  </ul>
</div>
<div class="row justify-content-sm-center text-center">
  <p><small>Note: The <em>pig</em> pet type is currently under construction.</small></p>
</div>
<div class="row justify-content-sm-center text-center">
  <p><strong>Click on the image to view the demo, or click <a href="https://github.com/lauralin08/adoption-project" class="text-info">here</a> to view the GitHub repository!</strong></p>
</div>