<div class="row justify-content-sm-center">
  <div class="col col-sm-auto text-center">        
    <h1>Don't Hang the Man!</h1>
  </div>
</div>
<div style="height: 40px"></div>
<div class="row justify-content-sm-center">
  <div class="col col-sm-10 bg-success">
    <a href="https://dont-hang-the-man.herokuapp.com/">
      <img class="img-fluid" style="margin-top: 40px; margin-bottom: 40px" src="hangman.png" alt="The classic spelling game of Hangman">
    </a>
  </div>
</div>
<div style="height: 40px"></div>
<div class="row justify-content-sm-center text-center" style="margin-bottom: 20px">
  <h4>This project was created for LinkedIn's REACH program application process.</h4>
</div>
<div class="row justify-content-sm-center">
  <ul>
    <li>Uses the LinkedIn Dictionary API to implement the classic spelling game of Hangman.</li>
    <li>Users may filter their words by difficulty, ranging from 1 to 10.</li>
    <li>Users can guess single letters, or, if they feel confident enough, the entire word.</li>
  </ul>
</div>
<div class="row justify-content-sm-center text-center">
  <p><small>Note: The API is no longer accessible, so the game is currently under construction. Check back soon!</small></p>
</div>
<div class="row justify-content-sm-center text-center">
  <p><strong>Click on the image to view the demo, or click <a href="https://github.com/lauralin08/hangman-project" class="text-info">here</a> to view the GitHub repository!</strong></p>
</div>